node_modules
.env
coverage
coverage.json
typechain
contracts.json
keys.json
.gitbook.yaml
gas-report
slither-results.json
package-lock.json

#Hardhat files
cache
artifacts
deployments
/typechain-types/
\.deps
